body{
	background:url(../imagenes/musi1.jpg);
	color: white;	
}
.titulo1{
	font-family:Kristen ITC,"Myriad Pro";
	font-size: 40px; 
}
.boton {
    font-size:18px;
	text-decoration:none;
	margin:0px 0px;
    display:inline-block;
	background:#E82A98;
	color:#fff;
	padding:10px 20px;
	box-shadow:0px 5px 0px #F591CB;	
}
.boton:link{
	  color:#F591CB;
}
.boton:hover {
	    text-decoration:underline;
		box-shadow:0px 5px 0px #FFFFFF;
}
.boton:active {
	    box-shadow:none;
}
.image{
	margin-left: 7%;

}
.img1{
	background: #fff;
	display: inline-block;
    height: 175px;
    width: auto;
    float: left;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    border:1px solid #fff;
    -webkit-transition: width 8s; 
}
.img1:hover{
    height: 200px;
    width: auto;
}
h2{
	color: #fff;
	font-family: Comic Sans MS,"Myriad Pro";
	text-decoration: underline;
}
.title{
	font-family: Comic Sans MS,"Myriad Pro";
}
.album{
	width: 220px;
    padding: 20px;
}
.icon{
	display: block;
	background: #fff;
	border-radius: 50% ;
	width: 35px;
}
#buttonbar{
	float: left;
}
.letra{
	text-decoration: none;
	font-family: Comic Sans MS,"Myriad Pro" ;
	color:#753BA5;
	display: inline-block;	
}
.letra:hover{
	text-decoration:underline;
    color: #F720A5;
}
.letra:active{
   text-decoration:none;
   color: #fff;
}