body{
	background:url(../imagenes/musi1.jpg);
	
}

.titulo1{
	font-family:Kristen ITC,"Myriad Pro";
	font-size: 40px; 
}

.boton {
    font-size:18px;
	text-decoration:none;
	margin:0px 0px;
    display:inline-block;
	background:#E82A98;
	color:#fff;
	padding:10px 20px;
	box-shadow:0px 5px 0px #F591CB;	
}
.boton:link{
	  color:#F591CB;
}
.boton:hover {
	    text-decoration:underline;
		box-shadow:0px 5px 0px #FFFFFF;
}
.boton:active {
	    box-shadow:none;
}
.table1{
	color: white;
	font-family: Comic Sans MS;
	float: left;
}
.table2{
	color: white;
	font-family: Comic Sans MS;
float: right;
margin-right: 5%;
}
td{
	padding: 8px;
	height: 130px;

}
tr:hover{
background: rgba(0,0,0,0.7);
}
.mo{
	width: 115px;
	-webkit-transition: width 1s, -webkit-transform 10s;
	border-radius: 50%;
}
.mo:hover{
	-webkit-transform: rotate(360deg) ;
	width: 130px;
}
.repro{
   width: 35px;
   display: block;
   background: #fff;
   border-radius: 50% ;
   display: inline-block;
}
