body{
	background:url(../imagenes/music.jpg);
	
}

.titulo1{
	font-family:Kristen ITC,"Myriad Pro";

}

a {
    font-size:18px;
	text-decoration:none;
	margin:0px 0px;
    display:inline-block;
	background:#E82A98;
	color:#fff;
	padding:10px 20px;
	box-shadow:0px 5px 0px #F591CB;
	
}
a:link{
	  color:#F591CB;
}
a:hover {
	    text-decoration:underline;
		box-shadow:0px 5px 0px #FFFFFF;
}
a:active {
	    box-shadow:none;
}
pre{
	font-family:  Comic Sans MS;
	color: #fff;
}
